.header {
    font-family: 'Tangerine';
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.blockquote-main {
    font-family: 'Tangerine';
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa; 
}
